*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/uploads
set_secrets.bat
__pycache__/
*.pyc
*.exe
*.zip
*.apk
google-services (1).json
/app/build

