<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.fingerprint" android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicatieGestiuneFirma">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".EmployeeActivity" />
        <activity android:name=".EmployeeDetailActivity" />
        <activity android:name=".ProjectActivity" />
        <activity android:name=".CompanyActivity" />
        <activity android:name=".InvoiceActivity" />
        <activity android:name=".ReportsActivity" />
        <activity android:name=".ProjectDetailActivity" />
        <activity android:name=".PayrollActivity" />
        <activity android:name=".FinanceActivity" />
        <activity android:name=".EmployeeHoursReportActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".EmployeePortalActivity" />
        <activity android:name=".ProjectCalendarActivity" />
        <activity android:name=".LeaveActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".WorkScheduleActivity" />
        <activity android:name=".ActivityLogActivity" />
        <activity android:name=".BankReconciliationActivity" />
        <activity android:name=".EmployeeFullReportActivity" />
        <activity android:name=".PinSetupActivity" />
        <activity android:name=".PinLockActivity" android:theme="@style/Theme.AplicatieGestiuneFirma" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
